$light: #f8f8f8;
$darker-light: darken($light, 3%);
$lightpink: #f1d6ab;
$dark: #2b2b28;
$yellow: #e3b04b;
$lightgrey: lightgrey;
$red: red;
$green: #319600;
$blue: lighten(blue, 15%);

$colors: (
  "light": $light,
  "darkerLight": $darker-light,
  "lightpink": $lightpink,
  "dark": $dark,
  "yellow": $yellow,
  "lightgrey": $lightgrey,
  "red": $red,
  "green": $green,
  "blue": $blue,
);

$font-color: $dark;

$mobile-breakpoint: 425px;
$breakpoints: (
  "mobile": $mobile-breakpoint,
);

$view-border-radius: 5px;

$more-button-height: 30px;

$room-users-column-width: 25%;
